
.numeroWrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero {
  background: white;
  border-radius: 8px;
  font-size: 22px;
  padding: 16px;
  user-select: none;
}

.active{
  background: #1F4788;
  color: white;
}
